
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-cont{
        background-color: #fff;
        margin-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
    .main-contnt{
        background-color: rgb(255, 255, 255);
        margin-top: 40px;
        padding: 50px;
        padding-bottom: 30px;
        padding-top: 40px;
        padding-right: 80px;
        padding-left: 80px;
        border-radius: 80px;
        width: 100%;
      
    }
    
    .form-date{
        margin-top:-50px;
        text-align: left;
        padding-bottom: 10px;
      

    }
    .button-doc{
        margin-top: -60px;
    }
    /* .invoc-btn{
        margin-top: -15px;
        text-align: right;
        padding-bottom: 40px;
    } */
    .forms-text{
       margin-left: 300px;
       margin-top:-70px;
       padding: 20px;   
    }
    .list-heading{
        margin-top: 10px;
        padding-bottom: 60px;
    }
    .thead-css{
        background: skyblue;
        border-radius: 50px;
     
        
    } 
    .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 9px;  
      
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 9px solid #dee2e6b9;
       
    }
   
    
    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }
   
     
}

@media only screen and (max-width: 1200px) {
    
    .main-contnt{
        background-color: rgb(255, 255, 255);
        margin-top: 40px;
        padding: 30px;
        padding-bottom: 30px;
        padding-top: 40px;
        padding-right: 80px;
        padding-left: 80px;
        border-radius: 80px;
        width: 100%;
      
    }
    .form-date{
        margin-top: -60px;
        text-align: left;
        padding-bottom: 10px;
    }
    .button-doc{
        margin-top: -30px;
    }
    /* .addinvoc-btn{
        margin-top: -10px;
        text-align: left;
        padding-bottom: 90px;
   
    } */
    .forms-text{
       margin-left: 0px;
       margin-top:-10px;
       padding: 20px;
       
       
    }
    .list-heading{
        margin-top: 10px;
        padding-bottom: 60px;

    }
    .thead-css{
        background: skyblue;
        border-radius: 50px;
     
        
    } 
    .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 9px;  
      
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 9px solid #dee2e6b9;
       
    }
   
    
    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }
   
     
}