
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-cont{
        background-color: #fff;
        margin-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
    .main-cont{
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        padding: 50px;
        padding-top: 0px;
        padding-right: 80px;
        padding-left: 80px;
        border-radius: 80px;
        width: 100%;
      
    }
    .button-doc{
        margin-top: -60px;
    }
    .adddoc-butn{
        margin-top: -1px;
        text-align: right;
   
    }
    .form-text{
       margin-left: 100px;
       margin-top:-80px;
       padding: 20px;
       
    }
    .main-heading{
        margin-top: 10px;
        padding-bottom: 0px;

    }
    .thead-css{
        background: skyblue;
        border-radius: 50px;
     
        
    } 
    .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 9px;  
      
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 9px solid #dee2e6b9;
       
    }
   
    
    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }

    .editable-grid-cell::after {
        content: 'Delete / View';
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:rgb(20, 20, 139);
        position: absolute;
        padding-right:105px;
        top: 0;
        right: 0;
        font-size: 15px;
        font-weight: 900;
        z-index: -1; /* this will set it in background so when user click onit you will get cell-click event as if user would normally click on cell */
    
    }

}